body {
    display: flex;
    flex-direction: column;
}

.mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#leftMenu {
    display: flex;
    flex-direction: row;
}

#rightMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(32,89,155,1) 2%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(32,89,155,1) 2%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(32,89,155,1) 2%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

#indexBackground {
    width: 100vw;
    height: 75vh;
}


#aboutContainer {
    display: flex;
    flex-direction: column;
    margin-right: 20vw;
    margin-left: 20vw;
    background-color: red;
    border: groove black;
}

#aboutText {

}

#genreContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.searchStripe {

}

.menuicon {
    height: 40px;
    width: 55px;
    margin: 15px;
}

.dropdownicon {
    height: 40px;
    width: 55px;
}

#newsfeed {
    border: groove black;
    margin-top: 15px;
    margin-right: 15vw;
    margin-left: 15vw;
    background-color: #a8d6fe;
}

footer {
    background-color: #3adb76;
}

#menuSearch {
    display: flex;
    flex-direction: row;
}

.submenu {
    display: none;
    width: 100vw;
    background-color: #00b3ee;
    position: absolute;
}
