body {
   background-color: black !important;
}

#newsfeed{
    border: groove black;
}

#searchStripe {
    border-left: groove black;
    padding-left: 15px;
}

.menuicon {
    height: 70px;
    width: 85px;
    margin: 15px;
}

header {
    height: 83vh;
    background-color: #a8d6fe;
}

#main {
    background-color: #f7ecb5;
}

#about {
    margin-right: 30vw;
    margin-left: 30vw;
    background-color: red;
    border-bottom: groove black;
    border-left: groove black;
    border-right: groove black;
}

#newsfeed {
    margin-right: 15vw;
    margin-left: 15vw;
    background-color: #a8d6fe;
    margin-top:20px;
}

.bottom-border {
    border-bottom: groove black;
}

.border-top {
    border-top: groove black;
}

.navbar {
    background-color: #269abc;
}

#aboutContainer {
    border-top: groove black;
    border-left: groove black;
    border-right: groove black;
    margin-right: 30vw;
    margin-left: 30vw;
    margin-top: 73.5vh;
    background-color: red;
}

footer {
    background-color: greenyellow;
}